<!doctype html>
<html lang="es" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Cesar Gutierrez Tineo">
    <title>Panel de atencion</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">-->
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }

        }
        @media (max-width: 576px) {
            .fix-button-height{
                line-height: 1.6rem;
            }
            .btn{
                font-size: 1rem;
            }
        }

        main > .container {
            padding: 80px 15px 0;
        }
        @media (max-width: 768px) {
            main > .container {
                padding: 160px 15px 0;
            }
        }

    </style>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <!-- Custom styles for this template -->
    <!-- <link href="https://getbootstrap.com/docs/5.0/examples/navbar-static/navbar-top.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        String.prototype.lpad = function(padString, length) {
            var str = this;
            while (str.length < length)
                str = padString + str;
            return str;
        }
        var srv_types = {};
        srv_types["TV"] = "TV";
        srv_types["SMART SERVICE"] = "SM";
        srv_types["MOBILE"] = "MO";

        $(function() {

            var intervalId = window.setInterval(function(){

                $.ajax({
                    method: "POST",
                    url: "/queue",
                    //data: JSON.stringify({ agent: cur_agent }),
                    contentType: "application/json"
                }).done(function(data) {
                    console.log(data);
                    console.log(data.length);
                    $("#in_queue").text(""+data.length);

                }).fail(function() {
                    $("#modal-msg").text("Selecciona el agente");
                    $("#my-modal").modal("show");
                })

            }, 1150);


            $("#select-agente a").click(function() {
                $("#agente").text("("+$(this).text()+")");
            });

            $("#llamar").click(function (){

                if($("#agente").text()==""){
                    $("#modal-msg").text("Selecciona el agente");
                    $("#my-modal").modal("show");
                    return;
                }

                var cur_agent = $("#agente").text().slice(1, -1);
                $.ajax({
                    method: "POST",
                    url: "/pick_next",
                    data: JSON.stringify({ agent: cur_agent }),
                    contentType: "application/json"
                }).done(function(data) {
                    console.log(data);
                    if(data.counter == undefined){
                        $("#my-modal").modal("show");
                        $("#modal-msg").text("No hay tickets disponibles");
                    }else{
                        $("#called_counter").text(srv_types[data.service]+""+data.counter.toString().lpad("0", 3));
                        $("#current_number").text("("+srv_types[data.service]+""+data.counter.toString().lpad("0", 3)+")");
                        $("#ping_id").attr("value",data.id);
                    }
                }).fail(function() {
                    $("#modal-msg").text("Hubo un problema");
                    $("#my-modal").modal("show");
                }).always(function (){
                    $.ajax({
                        method: "POST",
                        url: "/queue",
                        //data: JSON.stringify({ agent: cur_agent }),
                        contentType: "application/json"
                    }).done(function(data) {
                        console.log(data);
                        console.log(data.length);
                        $("#in_queue").text(""+data.length);

                    }).fail(function() {
                        $("#modal-msg").text("Hubo un problema");
                        $("#my-modal").modal("show");
                    })
                });
            });

            $("#saltar").click(function (){

                if($("#ping_id").attr("value") === undefined) return;

                $.ajax({
                    method: "POST",
                    url: "/attention",
                    data: JSON.stringify({ ping_id: $("#ping_id").attr("value"), new_status: "S" }),
                    contentType: "application/json"
                }).done(function(data) {
                    console.log(data);
                    $("#called_counter").text("(En espera)");
                    $("#current_number").text("");

                }).fail(function() {
                    $("#my-modal").modal("show");
                    $("#modal-msg").text("Hubo un problema");
                }).always(function (){
                    $.ajax({
                        method: "POST",
                        url: "/queue",
                        //data: JSON.stringify({ agent: cur_agent }),
                        contentType: "application/json"
                    }).done(function(data) {
                        console.log(data);
                        console.log(data.length);
                        $("#in_queue").text(""+data.length);

                    }).fail(function() {
                        $("#modal-msg").text("Hubo un problema");
                        $("#my-modal").modal("show");
                    })
                });
            });

            $("#atender").click(function (){

                if($("#ping_id").attr("value") === undefined) return;

                $.ajax({
                    method: "POST",
                    url: "/attention",
                    data: JSON.stringify({ ping_id: $("#ping_id").attr("value"), new_status: "A" }),
                    contentType: "application/json"
                }).done(function(data) {
                    console.log(data);
                    $("#called_counter").text("(En espera)");
                    $("#current_number").text("");
                }).fail(function() {
                    $("#modal-msg").text("Hubo un problema");
                    $("#my-modal").modal("show");
                }).always(function (){
                    $.ajax({
                        method: "POST",
                        url: "/queue",
                        //data: JSON.stringify({ agent: cur_agent }),
                        contentType: "application/json"
                    }).done(function(data) {
                        console.log(data);
                        console.log(data.length);
                        $("#in_queue").text(""+data.length);

                    }).fail(function() {
                        $("#modal-msg").text("Hubo un problema");
                        $("#my-modal").modal("show");
                    })
                });
            });


        });
    </script>
</head>
<body class="d-flex flex-column h-100">

<div class="container-fluid bg-dark navbar-dark fixed-top">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3   ">
        <h5 class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none ">
            Atencion
        </h5>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><h4 class="text-light fw-bold">Sistema Ticket</h4></li>
        </ul>

        <div class="col-md-3 text-end">

            <a class="btn btn-outline-success  me-2" href="/summary" target="_self" >Reporte</a>
            <div class="dropdown  d-inline-block">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Agente <span style="font-weight: bolder" id="agente"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" id="select-agente">
                    {% for agent in agents %}
                        <li><a class="dropdown-item" href="#"> {{ agent.codename }} </a></li>
                    {% else %}
                        <li>No hay agentes asignados</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </header>
</div>

<main class="container flex-shrink-0">
    <div class="row align-items-center container">
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-grid gap2">
                        <button type="button" class="btn btn-outline-primary  btn-lg btn-block " id="llamar">
                            <i class="bi bi-megaphone "></i>
                            <br/>
                            Llamar
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap2">
                        <button type="button" class="btn btn-outline-primary  btn-lg btn-block fix-button-height"  id="saltar">
                            <i class="bi bi-skip-end-circle"></i>
                            <br/>
                            Saltar
                        </button>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-4">
                <div class="d-grid gap2">
                    <input type="hidden" id="ping_id" />
                    <button type="button" class="btn btn-outline-primary  btn-lg btn-block" id="atender">
                        <i class="bi bi-check2-all"></i>
                        <br/>
                        Terminar atencion <span id="current_number"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 p-3">
                    <div class="h-100 p-3 bg-light border border-success rounded-3 text-center ">
                        <h1><i class="bi bi-chat-dots"></i></h1>
                        <h5>Numero para atencion</h5>
                        <h1 id="called_counter">(En espera)</h1>
                    </div>
                </div>

                <div class="col-md-6 p-3">
                    <div class="h-100 p-3 bg-light border rounded-3 text-center ">
                        <h1><i class="bi bi-ticket-perforated"></i></h1>
                        <h5>Numeros en cola</h5>
                        <h1 id="in_queue">0</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="my-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tickets</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modal-msg"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


<footer class="d-flex py-3 my-4 border-top footer mt-auto">


    <ul class="nav col-md-9 col-md-auto list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>

    <div class="col-md-3 d-flex align-items-center justify-content-end px-4">
        <span class="mb-3 mb-md-0 text-muted d-sm-block d-none">© 2022 Neo Projects</span>
        <img src="{{ asset('images/index.jpeg') }}" height="40" class="px-3 p-sm-1" alt="Symfony!"/>
    </div>
</footer>


<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
